<!--[if IE]>
<!DOCTYPE html>
<![endif]-->
<link href="{{STATIC_URL}}bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
<!--<script type="text/javascript" src="{{STATIC_URL}}jquery-1.3.2.min.js"></script>-->
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>

<body onload="javascript:InitPage()">
   <!-- from bootstrap-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/">StatShark</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="/about/">About</a></li>
              <li><a href="/forum/">Forum</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <!--
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
            -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div id="main_body"> 
<br>
<br>
<br>

<h2>Overview</h2>
<p>StatShark provides insights on the historical performance of nfl wagers.
Users can query over 40 years of data to maximize their return on investment.
Usage examples are provided below:</p>

<h2>Query Team Performance Against Spread</h2>
<p>StatShark allows users to query the performance of a given team based on various criteria.
In the example below, We wish to test the theory that the Dallas Cowboys,
due to their status as 'America's team', has performed poorly against the spread.
As a first step, we query the performance of the Dallas Cowboys against the spread
for the last 10 years.  We enter our  search criteria as so:</p>
<img src="{{STATIC_URL}}example1_constraints1.png">
<p>When we click on the Submit button, we are first shown a high level summary or our results:</p>
<br>
<img src="{{STATIC_URL}}example1_summary1.png" height=600 width=600>
<br>
<p>This does not seem to confirm our suspicions, as the performance is basically par.  We can click on Game data to see a breakout
of the results.  As we scroll through the table, we realize that their performance against the spread was quite good in the early
years of our data set, but that it dropped significantly later on.  This makes us question whether 2004 is an appropriate starting point.
It may make more sense to limit our query to the Tony Romo era. Specifically, we want to know how the team performs agains the spread
in high profile games, where we suspect the line may be influenced by a large amount of casual bettors.  To select such games we can
limit our search to late season in-conference games.  We enter our updated criteria below:
<img src="{{STATIC_URL}}example1_constraints2.png">
<p>And now we see the following:</p>
<br>
<img src="{{STATIC_URL}}example1_summary2.png" height=600 width=600>
<br>
<p>These results are quite significant.  The performance against the spread is very poor, as is the performance of bets that take the over,
suggesting that the high profile of these games may be drawing bettors with high expectations for offensive production.  Because we have 
entered a player in our search terms, A histogram of his offensive production is located in the Player Data section of the Summary.
  I have pasted the results below:</p>
<br>
<img src="{{STATIC_URL}}example1_playersummary1.png" height=600 width=600>
<br>
<p>It seems we have spotted a trend.  Romo's performance is quite average in these games, and the cowboys themselves are only slightly below .500,
and yet their performance seems to fall well the expectation of bettors.  This is exactly the type of insight that statshark is designed to provide.</p>

</div>
<script src="{{STATIC_URL}}bootstrap.min.js"></script>

<!--
<span id='debug'></span>
-->
<!--[if IE]>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<![endif]-->
</div>
</body>

