<!--[if IE]>
<!DOCTYPE html>
<![endif]-->
<link href="{{STATIC_URL}}bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
<script type="text/javascript" src="{{ STATIC_URL }}main.js"></script>
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>

<body onload="javascript:InitPage()">
   <!-- from bootstrap-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">StatShark</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="#">Home</a></li>
              <li><a href="/about/">About</a></li>
              <li><a href="/forum/">Forum</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <!--
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
            -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div id="main_body"> 
<div id = "main_form">
<form action="/submit/" method="post" name = "conditions" enctype="multipart/form-data" onsubmit="ajax_submit();return false;">
{% csrf_token %}
<input type="hidden", name="num_team_a_conditions", value = 1>
<input type="hidden", name="num_team_b_conditions", value = 1>
<input type="hidden", name="num_game_conditions", value = 1>
<br>
<p>Constrain Game</p>
<span id = "conditions_g0">
<table id="g_0" name="g_0">
<tr><td>
<select name="g_0"onchange="GetSelectValue(this)">
<option value=0 selected>Choose Condition</option>
<option value=6>Season</option>
<option value=7>Week</option>
<option value=8>Over/Under</option>
<option value=13>Field Type</option>
<option value=14>Temperature</option>
<option value=15>Wind Speed (mph)</option>
<option value=16>Relative Humidity (%)</option>
</select>
</td>
<td>
<span id="conditions_g_0_right"></span>
</td>
<td>
<span id="conditions_g_0_far_right"></span>
</td>
<td>
<a onclick="AddCondition('g')" href="javascript:void(0);">Add</a>
</td>
</tr>
</table>
</span><!--conditions_g0-->
<span id = "conditions_g_1"></span>
<p>Constrain Team</p>
<span id = "conditions_a0">
<table id="team_a_0" name="team_a_0">
<tr><td>
<select name="a_0"onchange="GetSelectValue(this)">
<option value=0 selected>Choose Condition</option>
<option value=1>Is In...</option>
<option value=2>Is Equal to...</option>
<option value=3>Favored By</option>
<option value=12>UnderDog Of</option>
<option value=4>Is Home</option>
<option value=5>Is Away</option>
<option value=8>Over/Under</option>
<option value=9>Has Winning Percentage Of...</option>
<option value=17>Has Winning Streak Of...</option>
<option value=10>Has Player...</option>
<option value=11>Has Coach...</option>
</select>
</td>
<td>
<span id="conditions_a_0_right"></span>
</td>
<td>
<span id="conditions_a_0_far_right"></span>
</td>
<td>
<a onclick="AddCondition('a')" href="javascript:void(0);">Add</a>
</td>
</tr>
</table>
</span><!--conditions_a_0-->
<span id = "conditions_a_1"></span>
<p>Constrain Opposition</p>
<span id = "conditions_b0">
<table id="team_b_0" name="team_b_0">
<tr><td>
<select name="b_0"onchange="GetSelectValue(this)">
<option value=0 selected>Choose Condition</option>
<option value=1>Is In...</option>
<option value=2>Is Equal to...</option>
<!--for now I will only let user add spread for team a.  
I think this is less confusing
<option value=3>Spread Is...</option>
-->
<option value=4>Is Home</option>
<option value=5>Is Away</option>
<option value=9>Has Winning Percentage Of...</option>
<option value=17>Has Winning Streak Of...</option>
<option value=10>Has Player...</option>
<option value=11>Has Coach...</option>
</select>
</td>
<td>
<span id="conditions_b_0_right"></span>
</td>
<td>
<span id="conditions_b_0_far_right"></span>
</td>
<td>
<a onclick="AddCondition('b')" href="javascript:void(0);">Add</a>
</td>
</tr>
</table>
</span>
<tr>
<span id = "conditions_b_1"></span>
</tr>
</table>
<table><tr><td>
<!--
<span id = "submit_button">
<input type="submit" name="submit" value="Submit Request"/>
</span>
-->
<input type="submit" class="btn btn-primary btn-large" value="Submit" style="hidden"/>
</td></tr></table>
</form>
</div> <!--"main_form"-->
<div id = "return_to_form" style="hidden">
<br>
<a href="javascript:void(0);" style="none" onclick="ShowMainForm()"/>Edit Conditions</a>
</div>

<!--
tabs are from: http://css-tricks.com/functional-css-tabs-revisited/
-->
<!--
<div class="tabs" id=tabs>
   <div class="tab">
       <input type="radio" id="tab-1" name="tab-group-1" checked onclick="setdisplay(1)">
       <label for="tab-1">Summary</label>
       <div class="content" id='summary'>
       </div> 
   </div>
   <div class="tab">
       <input type="radio" id="tab-2" name="tab-group-1" onclick="setdisplay(2)">
       <label for="tab-2">Player Data</label>
       <div class="content"id='player_results'>
       </div> 
   </div>
    <div class="tab">
       <input type="radio" id="tab-3" name="tab-group-1" onclick="setdisplay(3)">
       <label for="tab-3">Game Data</label>
       <div class="content" id='game_results'>
       </div> 
   </div>
</div>
<ul class="nav nav-tabs">
  <li class="active">
    <a href="#"  onclick="setdisplay(1)">Summary</a>
  </li>
  <li><a href="#"  onclick="setdisplay(2)">Player Data</a></li>
  <li><a href="#"  onclick="setdisplay(3)">Game Data</a></li>
</ul>
<div id='summary'>
</div> 
<div id='player_results'>
</div> 
<div id='game_results'>
</div> 
-->

<div class="tabbable"> <!-- Only required for left/right tabs -->
  <ul class="nav nav-tabs" id="myTab" data-tabs="tabs">
    <!--
    <li class="active"><a href="#summary" data-toggle="tab" onclick="setdisplay(1)">Summary</a></li>
    <li><a href="#player_results" data-toggle="tab" onclick="setdisplay(2)">Player Data</a></li>
    <li><a href="#game_results" data-toggle="tab" onclick="setdisplay(3)">Game Data</a></li>
-->
    <li class="active"><a href="#summary" data-toggle="tab" onclick="setdisplay(1)">Summary</a></li>
    <li><a href="#player_results" data-toggle="tab" onclick="setdisplay(2)" >Player Data</a></li>
    <li><a href="#game_results" data-toggle="tab" onclick="setdisplay(3)">Game Data</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="summary">
    </div>
    <div class="tab-pane" id="player_results">
    </div>
    <div class="tab-pane" id="game_results">
    </div>
  </div>
</div>
 <!--
<script type="text/javascript">
    jQuery(document).ready(function ($) {
        $('#myTab').tab();
    });
</script>
<script>

$('#myTab a').click(function (e) {
  e.preventDefault();
  $(this).tab('show');
})

  $(function () {
    $('#myTab a:[href="#summary"]').tab('show');
  })
  $(function () {
    $('#myTab a:[href="#player_results"]').tab('show');
  })
  $(function () {
    $('#myTab a:[href="#game_results"]').tab('show');
  })
</script>
-->
<script src="{{STATIC_URL}}bootstrap.min.js"></script>

<!--
<span id='debug'></span>
-->
<!--[if IE]>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<br><br><br><br><br><br>
<![endif]-->
</div>
</body>

