<head>
<link href="{{STATIC_URL}}bootstrap.min.css" rel="stylesheet" media="screen">
<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}style.css" />
<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
<script type="text/javascript">
var menu_displayed = 0;
function DisplayMenu() {
  if(menu_displayed == 0) {
    document.getElementById("menu").style.display = 'block';
    menu_displayed = 1;
  }
  else {
    document.getElementById("menu").style.display = 'none';
    menu_displayed = 0;
  }
}  
</script>
</head>
<!--
<div style="text-align:right" class ="nav">
    <a onclick="DisplayMenu()" href="javascript:void(0);"><h3>{{ username }}</h3></a>
    <ul id="menu" Class = "menu">
      <li><a href="/home/">Main</a></li>
      <li><a href="{{ username }}/account_settings">Account Settings</a></li>
      <li><a href="/logout/">Log Out</a></li>
    </ul>
    <br>
</div>
<br>
-->
<body>
   <!-- from bootstrap-->
    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="#">StatShark</a>
          <div class="nav-collapse collapse">
            <ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="#about">Blog</a></li>
              <li><a href="/home/">Forum</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown">Settings <b class="caret"></b></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Action</a></li>
                  <li><a href="#">Another action</a></li>
                  <li><a href="#">Something else here</a></li>
                  <li class="divider"></li>
                  <li class="nav-header">Nav header</li>
                  <li><a href="#">Separated link</a></li>
                  <li><a href="#">One more separated link</a></li>
                </ul>
              </li>
            </ul>
            <!--
            <form class="navbar-form pull-right">
              <input class="span2" type="text" placeholder="Email">
              <input class="span2" type="password" placeholder="Password">
              <button type="submit" class="btn">Sign in</button>
            </form>
            -->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>
<div id="main_body"> 
<div class = "comment_page">
<h2>{{ current_post.title }}</h2> 
{% if current_post.postphoto_set %}
    {% for photo in current_post.postphoto_set.all %}
      <img src="{{MEDIA_URL}}/{{ photo.image }}"alt="missing photo?" >
      <br><br>
    {% endfor %}
{% endif %}
{% for is_embedded_link, text in post_embed_list %}
  {% ifequal is_embedded_link 0 %}
    {{ text|urlize }}
  {% else %}
    <br>
    <iframe width="560" height="315" src="{{ text }}" frameborder="0" allowfullscreen></iframe>
    <br>
  {% endifequal %} 
{% endfor %}
   {% ifnotequal current_post.num_choices 0 %}
       {% ifequal current_post.has_voted 0 %}
         <form action="/{{ post.id }}/vote/" method="post">
         {% csrf_token %}
         <br>
         {% for  choice in current_post.choice_set.all %}
           <br>
           <input type="radio" name="selected_choice" value="{{ forloop.counter }}" size="40">{{choice.text}}
         {% endfor %}
         <br>
         <input type="submit" value="Vote" class="button"/>
         </form>
       {% else %}
         <div class="bargraph">
         <table border="0">
         {% for  choice in current_post.choice_set.all %}
           <script> 
           var bar_width = 30*{{choice.votes}};
           document.write("<tr><td>{{choice.text}}</td><td><img src=\"{{STATIC_URL}}/bar.png\" alt=\"bar\"  height=\"20\" width=\""+bar_width+"\"/></td><td>{{choice.votes}}</td></tr>");
           </script>
           <br>
         {% endfor %}
         </table>
         </div>
         <br>
       {% endifequal %}
   {% endifnotequal %}
   <br>
{% if comment_list %}
{% for comment in comment_list %}
   <p><b><i>{{ comment.author}}</i></b> {{ comment.text|urlize }}</p>
{% endfor %}
    
{% else %}
    <p>No comments are available.</p>
{% endif %}
<form action="/{{ current_post.id }}/add_comment/" method="post">
{% csrf_token %}
<br>Add Comment:<br>
<textarea name='new_comment_text' rows=4 style="width:400px" id="id_text"></textarea>
<br>
<input type="submit" value="Submit"  class="btn btn-primary btn-large" />
</form>
</div>
</div><!--main body-->
</body>
